# Unity WebGL binary build artifacts - use Git LFS to handle large files
ide/frontend/Build/frontend.data filter=lfs diff=lfs merge=lfs -text
ide/frontend/Build/frontend.wasm filter=lfs diff=lfs merge=lfs -text
